.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1d2233;
  align-items: center;
  min-height: 100vh;
  background-image: url("/img/demo/t1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.video-wrap {
  padding: 0px !important;
}

.stream-view {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.stream-wrap {
  height: 100%;
  width: 100%;
  text-align: center;
}
