.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1d2233;
  align-items: center;
  min-height: 100vh;
}

.stream-view {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.stream-wrap {
  height: 100%;
  width: 100%;
  text-align: center;
}
