.chat-input {
  /* background-color: #000; */
  border-radius: 20px;
  /* padding: 10px; */
  /* font-size: 14px; */
  color: #fff;
  border: 1px solid #4f586b;
  border: 1px solid #4f586b;
  background-color: #0000004d;
  backdrop-filter: blur(5px);
  padding-left: 40px;
}

.chat-input::-webkit-input-placeholder {
  color: #d5e0f29a;
}

.chat-input::-moz-placeholder,
.chat-input::-ms-input-placeholder,
.chat-input::-ms-input-placeholder {
  color: #d5e0f29a;
}
.chat-input:focus {
  background-color: #0000004d;
  backdrop-filter: blur(10px);
  color: #fff;
}
.emoji {
  background-image: url(/img/class/ic_emoji.svg);
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  left: 3px;
  top: 4px;
  background-size: contain;
}

.wrap {
  position: relative;
}

.message-list {
  position: absolute;
  bottom: 50px;
  max-height: 40vh;
  overflow: scroll;
  mask-type: alpha;
  mask-image: linear-gradient(to bottom, transparent 5%, black 20%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 20%);
  -ms-mask-image: linear-gradient(to bottom, transparent 5%, black 20%);
  -o-mask-image: linear-gradient(to bottom, transparent 5%, black 20%);
  padding-top: 40px;
}

.message {
  background-color: #00000094;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 15px;
  color: #d5e0f2;
  margin-top: 10px;
}

.message .nick {
  color: #80bef6;
}

.new-tips {
  /* display: none; */
  position: absolute;
  bottom: 50px;
  z-index: 3;
  background-color: #fff;
  border-radius: 20px;
  left: 0px;
  color: #f24d43;
  font-size: 12px;
  padding: 3px 10px;
}

.msg-tips {
  position: absolute;
  bottom: 50px;
  z-index: 3;
  transform: translate3d(-300px, 0px, 0px);
  transition: transform 0.4s;
}
.msg-tips-show {
  transform: translate3d(0px, 0px, 0px);
}

.down-icon {
  background-image: url(/img/class/down_tips.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: contain;
  vertical-align: text-bottom;
  background-position: center center;
  margin-left: 2px;
}
.new-show {
  display: block;
}
.new-hide {
  display: none;
}

.emoji-wrap {
  text-align: center;
}
.emoji-ic1,
.emoji-ic2,
.emoji-ic3,
.emoji-ic4 {
  background-image: url(/img/class/ic_emoji_all.svg);
  height: 80px;
  width: 80px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 500%;
  background-position: -18px -15px;
}

.emoji-bg {
  background-color: var(---offset-bg-dark);
  border-radius: 40px 40px 0px 0px;
}

.emoji-ic2 {
  background-position: -110px -15px;
}

.emoji-ic3 {
  background-position: -205px -15px;
}
.emoji-ic4 {
  background-position: -300px -15px;
}

.emoji-img1,
.emoji-img2,
.emoji-img3,
.emoji-img4 {
  background-image: url(/img/class/ic_emoji_all.svg);
  display: inline-block;
  height: 20px;
  width: 20px;
  display: inline-block;
  background-size: 700%;
  background-position: -10px -9px;
  background-repeat: no-repeat;
  vertical-align: sub;
}
.emoji-img2 {
  background-position: -42px -9px;
}
.emoji-img3 {
  background-position: -75px -9px;
}
.emoji-img4 {
  background-position: -108px -9px;
}
