.btn {
  display: inline-block;
  color: #a3aec7;
  background-color: #00000063;
  padding: 4px;
  text-align: center;
  font-size: 12px;
  margin: 0px 5px;
  border-radius: 15px;
}

.btn-single {
  display: inline-block;
}

.text {
  display: block;
}

.setting-icon {
  background-image: url("img/setting.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
}
.share-icon {
  background-image: url("../info-panel/img/share.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  display: inline-block;
  height: 13px;
}

.single-setting-icon,
.single-share-icon {
  background-image: url(/next/_next/static/media/share.1f205d41.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  display: inline-block;
  height: 36px;
  background-size: 50%;
  background-position: 10px 8px;
  background-color: #00000063;
  border-radius: 50%;
}
