.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 150px;
  background-color: #1d2233;
  align-items: center;
  min-height: 100vh;
}

.stream-view {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.stream-wrap {
  height: 100%;
  width: 100%;
}

.login-btn {
  /* width: 200px; */
}

.demo-title {
  color: #fff;
  margin: 20px;
}

.inputWrap {
  max-width: 350px;
  margin: 20px;
}
