.login-btn {
  width: 80px;
}

.class-id {
  color: #fff;
}

.user-name,
.member-counter {
  color: #fff;
  background: #00000094;
  border-radius: 20px;
  padding: 2px 15px;
  cursor: pointer;
  backdrop-filter: blur(5px);
  vertical-align: middle;
  font-size: 16px;
}
.member-counter {
  font-size: 14px;
  margin-right: 10px;
}
.begin,
.not-begin {
  color: #f24d43;
  font-size: 11px;
}
.begin {
  color: #25f21c;
}
.mark {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #f24d43;
  vertical-align: middle;
  margin-right: 3px;
  border-radius: 2px;
}
.green-mark {
  background-color: #25f21c;
}

.quit-btn {
  background-repeat: no-repeat;
  background-image: url(img/leave.svg);
  background-size: contain;
  width: 23px;
  height: 23px;
}

.time {
  color: #cfd4e5;
  margin-left: 5px;
}
